a.folder {
	background: url(images/icon_arrow.png) no-repeat right center;
}

#header {
	background: url(images/background_header.png);
}

#host {
	display: block;
	position: absolute;
	top: 20px;
	left: 111px;
	color: #f0f0f0;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

#rating {
	position: relative;
	float: left;
	margin: 3px 5px 0 0;
	background-image: url(images/stars.png);
	background-repeat: no-repeat;
}