@charset "utf-8";
#page1 .ui-content #trans1 {
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 200;
	text-shadow: 1px 1px 4px #252222;
	color: #F4F4F4;
}
.texttospeech {
	width: 450px;
}
.sonosttshead {
	background-color: #E9D51E;
	padding-top: 5px;
	padding-left: 16px;
	padding-bottom: 0px;
	border-radius: 12px;
	height: 22px;
	width: 150px;

}
.sonosreset {


}
.sonsossubmit {
}
