@charset "utf-8";
#webelementwrapper {
	position: relative;
}
.button .icon img {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(83,75,75,0.60) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(83,75,75,0.60) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(83,75,75,0.60) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(83,75,75,0.60) 100%);
	top: 160px;
	left: 141px;
	position: absolute;
	border-radius: 64px;
	-webkit-box-shadow: 2px 2px 3px rgba(46,44,44,1.00);
	box-shadow: 2px 2px 3px rgba(46,44,44,1.00);
}
body {
	background-color: transparent;
}
